Found articles:
%p
  - @found_articles.each do |fa|
    %p
      %strong
        = fa.title
    %p
      = truncate(strip_tags(fa.content), length: 200)
    %p
      = link_to 'Show article', article_path(fa.id)