%p
  %h3
    New comment
  = form_for [article, comment] do |f|
    - if comment.errors.any?
      %h2 
        = pluralize comment.errors.count, "error"
        prohibited this product from being saved:
    
      %ul
        - comment.errors.full_messages.each do |msg|
          %li 
            = msg

    %p
      =f.label :author
      =f.text_field :author

    %p
      =f.label :content
      =f.text_area :content

    %p
      =f.submit