%h1 Добро пожаловать на сайт Computer security.

%p
  На этом сайте вы можете найти интересные статьи посвященные различным видам компьютерных вирусов 
  =link_to 'Viruses', '#'

%p
  Узнать как распространяются современные компьютерные угрозы 
  =link_to 'Spreading', '#'

%p
  Воспользоваться глоссарием 
  =link_to 'Glossary', '#'

%p
  Или поиском 
  =link_to 'Searh', '#'

%p 
  Просто выбрать случайную статью 
  =link_to 'Random article', '#'

%p
  Войти в свой профиль 
  =link_to 'Profile', '#'

%p
  Или зарегистрироваться
  =link_to 'Registration', '#'