%h1 Добро пожаловать на сайт Computer security.

%p
  На этом сайте вы можете найти интересные статьи посвященные различным видам компьютерных вирусов 
%p
  Узнать как распространяются современные компьютерные угрозы 
%p
  Воспользоваться глоссарием 
%p
  Или поиском 
%p 
  Просто выбрать случайную статью 
%p
  Войти в свой профиль 
%p
  Или зарегистрироваться

%h2
  Random article

%p
  %strong
    = @random_article.title

%p
  = raw(@random_article.content)

  =link_to 'Random article', landpage_home_path
