%h1 All Viruses

%table
  %tr
    %th Name
  - @categories.each do |c|
    %tr
      %td 
        =c.name
      %td 
        =link_to 'Show', category_path(c.id)
      %td 
        =link_to 'Edit', edit_category_path(c.id)
      %td
        =link_to 'Delete', category_path(c.id), method: :delete, data: { confirm: 'Are you sure?' }

